* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(34, 39, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    box-sizing: border-box;

}

.logo h1 {
    color: aliceblue;
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
}

.main {
    width: 100%;
    min-height: calc(100vh - 80px);
    background-color: rgb(39, 49, 57);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.style1 {
    max-width: 300px;
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.style2 {
    max-width: 300px;
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#loading {
    filter: drop-shadow(2px 2px 10px black);
    display: none;
}

.image {
    width: 300px;
    height: 306px;
    background-image: url("transparent.jpg");
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;

}

.image1 {
    width: 300px;
    position: absolute;
    animation: remove 15s linear infinite;
    overflow: hidden;
    border-radius: 10px;
}

#withbg {
    width: 300px;
}

.image2 {
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
}

#withoutbg {
    width: 300px;
}

.text {
    width: 100%;
    height: 25%;
    background: linear-gradient(to right, white, rgb(34, 149, 162), rgb(212, 89, 153), white);
    text-align: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2vmax;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.uploadimage {
    width: 100%;
    height: 100%;
    background-color: rgb(32, 40, 47);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    flex-direction: column;
    gap: 20px;
}

.inneruploadimage {
    width: 90%;
    height: 70%;
    background-color: rgb(25, 29, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    color: aliceblue;
    font-size: 20px;
    gap: 10px;
    cursor: pointer;
}

.inneruploadimage:hover {
    background-color: rgb(56, 66, 76);
    box-shadow: inset 2px 2px 2px black;
}

#inputimage {
    width: 100%;
    height: 100%;
    display: none;
}

#btn {
    width: 40%;
    height: 12%;
    background: linear-gradient(to right, rgb(34, 149, 162), rgb(212, 89, 153));
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

#btn:hover {
    color: rgb(29, 30, 31);
    font-size: 16px;
    background: linear-gradient(to left, rgb(34, 149, 162), rgb(212, 89, 153));
}

.result {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    gap: 30px;
    display: none;
}

.mainbox {
    width: 300px;
    background-image: url("transparent.jpg");
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.resultimg1 {
    width: 0px;
    animation: remove1 8s linear 1;
    overflow: hidden;
}

.resultimg2 {
    width: 300px;
    position: absolute;
    top: 0px;
}

.resultimg1 img {
    width: 300px;
}

.resultimg2 img {
    width: 300px;
}

.btns {
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#download{
    padding: 12px 20px;
    background: linear-gradient(to right, rgb(34, 149, 162), rgb(212, 89, 153));
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
#reset{
     padding: 12px 20px;
    background: linear-gradient(to right, rgb(34, 149, 162), rgb(212, 89, 153));
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
#download:hover{
    color: rgb(29, 30, 31);
    font-size: 16px;
    background: linear-gradient(to left, rgb(34, 149, 162), rgb(212, 89, 153));
}
#reset:hover{
    color: rgb(29, 30, 31);
    font-size: 16px;
    background: linear-gradient(to left, rgb(34, 149, 162), rgb(212, 89, 153));
}

@keyframes remove {

    0%,
    100% {
        width: 100%;
    }

    50% {
        width: 0%;
    }
}

@keyframes remove1 {
    0% {
        width: 300px;
    }

    100% {
        width: 0px;
    }
}

@media (max-width:430px) {
    .mainbox {
    width: 150px;

}

.resultimg1 {
    width: 0px;
    animation: remove2 8s linear 1;
    overflow: hidden;
}

.resultimg2 {
    width: 150px;

}

.resultimg1 img {
    width: 150px;
}

.resultimg2 img {
    width: 150px;
}
}

@keyframes remove2 {
    0% {
        width: 150px;
    }

    100% {
        width: 0px;
    }
}
